{
  "presets": [
    "@babel/flow",
    [
      "@babel/env",
      {
        "targets": {
          "node": "18"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "comments": false,
      "compact": "auto",
      "minified": true,
      "ignore": [
        "**/__tests__/",
        "**/__mocks__/",
        "**/*.test.js"
      ]
    }
  }
}
