{
  "presets": [
    "@babel/flow",
    [
      "@babel/env",
      {
        "targets": {
          "node": "7.10"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "lodash",
  ],
  "env": {
    "production": {
      "comments": false,
      "compact": "auto",
      "minified": true,
      "ignore": [
        "**/__tests__/",
        "**/__mocks__/",
        "**/*.test.js"
      ]
    }
  }
}